@media all and (max-width :670px){
    *{box-sizing: border-box;}
    .header-top{
        margin:0;
        padding: 10px 10px;
        width: 100%;
    }
    .header-menu ul{
        margin:0;
        width: 100%;
    }
    .header-menu li{
        padding:2px 2px 2px 5px;
    }
    main{
        margin:0 5px;
    }
    .pickup{
        display: block;
    }
    .pickup-article{
        width: 100%;
    }
    .main-top{
        display: block;
    }
    .main-content{
        width: 100%;
    }
    .side-bar{
        width: 100%;
        margin:0;
    }
    .footer{
        display: block;
        margin:0 5px;
    }
    .About,menu{
        width: 100%;
        margin-bottom: 50px;
    }
    .twitter{
        margin:50px 0;
    }
    .menu ul{
        width: 100%;
    }
    .menu{
        width: 100%;
    }

}