*{
    margin:0;
    padding:0;
}
li{
    list-style: none;

}
.header-menu a{
    color: #fff;
    text-decoration: none;
}
.header-top{
    margin:20px 0 20px 150px;
}
.header-menu nav{
    background-color: black;
}
.header-menu ul{
    display:flex;
    margin-left: 150px;
}
.header-menu li{
    padding:10px 50px 10px 0;
}
main{
    margin:0 25%;
    max-width: 1200px;
}
.main-top{
    display: flex;
}
aritcle{
    width: 33%;;
}
img{
    width: 100%;
}
article h1{
    font-size: 15px;
}
article p{
    text-align: center;
}
